
<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include partials/welcome_message.ejs %>




<!--Ahmed Ali Image-->

<form>
    <div class="row">
        <div class="col">
            <img src="Assets/images/ahmed_image.png" alt="Ahmed's Picture"> 
           
        </div>

<!-- About Me-->       
    <div class="col">
        <p>My name is Ahmed Ali, I have almost ten years experience as a Quality Assurance.
            I have started working since I was eighten years old, I worked at bank's and telecom's 
            companies. Now, I have a new challege to develop my skill in Software Technology
            such as: Programming, Web Application and Database. I am in my third semester now,
            and I have three semester to go. Thanks for reading.
        </p>    
<!-- My resume file pdf-->
            <p>Here you can find my resume: <a href="Assets/images/Ahmed's_Resume.pdf">Click</a></p>
        </div>
    </div>

</form>



<!--Bottom-->
<%- include partials/bottom_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>



