
<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include partials/welcome_message.ejs %>


<!--My Services Images-->
<li class="list-group-item">My Services</li>

<ul class="image-group">
    <div class="row">
        
        <div class="col">
     <img src="Assets/images/programming.png" alt="Programming Image">
        </div>
        <div class="col">
     <img src="Assets/images/web_development.png" alt="Web Development Image">
        </div>
        <div class="col">
     <img src="Assets/images/app_development.png" alt="Mobile Application Development Image">
 </div>

</ul><br>


<!--List of what I offer-->
<ul class="list-group">
    <li class="list-group-item">1-Programiming</li>
    <li class="list-group-item">2-Web Development</li>
    <li class="list-group-item">3-Mobile Application</li>
  </ul>


<!--Bottom-->
<%- include partials/bottom_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>